*   {
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: maroon
}

/* ---------------------------------------------------------------------------------- */
/* Hiasan pada navbar */

nav {
    display: flex;
    background-color: green;
    border-radius: 10px;
    justify-content: space-between;
    height: 50px;
    color:yellow;
    align-items: center;
    margin-top: 0;
    margin: 2px;
    flex: 1;
}

nav .nama {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    flex: 2;
}
nav ul  {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: flex-end;
}

nav ul li   {
    align-self: stretch;
    padding: 15px 10px;
}

nav ul li:hover  {
    background-color: mediumseagreen;
    
}

nav ul li a {
    color:lavenderblush;
    text-decoration: none;
    font-size: 0.8em;
    
    
}


nav ul li a:hover{
    color: yellow;
    text-decoration: underline;
}

/* Membuat Menu Humberger */
.saklar {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;   
    margin-right: 10px;
}

.saklar input{
    position: absolute;
    width: 50px;
    height: 28px;
    left: -11px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.saklar span{
    display: block;
    height: 3px;
    width: 28px;
    background-color: honeydew;
    border-radius: 3px;
    transition: 0.5s;
}

/* memberi animasi pada menu Humberger yang telah dibuat */
.saklar span:nth-child(2)  {
  transform-origin: 0 0;
}

.saklar span:nth-child(4)   {
    transform-origin: 0 100%;
}

.saklar input:checked ~ span:nth-child(2)   {
    transform: rotate(45deg) translate(-1px, -1px);
}

.saklar input:checked ~ span:nth-child(3)   {
    opacity: 0;
    transform: scale(0);
}

.saklar input:checked ~ span:nth-child(4)   {
    transform: rotate(-45deg);
}

/* ==================================================================================== */
/* mengatur header selain nav bar */
header  {
    height: 670px;
}

.gambar-header  {
    width: 50%;
    height: 80%;
    text-align: center;
    align-self: center;
}

.isi-header {
    width: 100%;
    height:80%;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-self: center;
}

.tulisan-header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 40%;
    height: 80%;
    color: gold;
    align-self: center;
    text-align:center;
    font-family: 'Akaya Telivigala', cursive;
}

.tulisan-header h1.pertama  {
    font-size: 75px;
}

.tulisan-header h1.kedua    {
    font-size: 75px;
    font-family: 'Ravi Prakash', cursive;
}

.tulisan-header h1.ketiga   {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

/* ==================================================================================== */
/* Mengatur main yang didalamnya ada konten dan aside*/

main    {
    display: flex;
    margin: 20px 5px;
    background-color: blue
}

.konten-utama   {
    flex: 5;
    background-color: peru;
    margin: 20px 5px;
    border-radius: 5px;

}

.tampilan-profil  {
    flex: 1;
    background-color: powderblue;
    margin: 20px 5px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    border-radius: 5px;
    
}

/* ====================================================================================== */
/* Mengatur isi dari konten utama */

.konten-utama div   {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.konten-1, .konten-2, .konten-3   {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    background-color: seagreen;
    border-radius: 15px;
}

.gambar-konten-1, .gambar-konten-2, .gambar-konten-3    {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.artikel-konten-1, .artikel-konten-2, .artikel-konten-3   {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.artikel-konten-1 h2, .artikel-konten-2 h2, .artikel-konten-3 h2   {
    color:orangered;
    font-size: 40px;
    text-align: center;
    width: 75%;
    background-color:navajowhite;
    border-radius: 25px;
    border-top-color: rgb(13, 148, 13);
    border-top-width: 5px;
}

.artikel-konten-1 ol    {
    margin-left: 13px;
}


/* ====================================================================================== */
/* Mengatur tampilan aside */
aside div   {
    background-color: lightslategray;
    border-radius: 5px;
}

aside div p {
    background-color: rgb(13, 148, 13);
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gambar-profil   {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tabel-profil {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 6px;
}
aside tr    {
    text-align: left;
    font-size: 16px;
    margin: 4px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Mengatur agar tampilan responsive */

/* Tampilan untuk tablet */
@media screen and (max-width: 768px)    {
    nav ul {
        width: 50%;
    }
}

/* Tampilan untuk HP */
@media screen and (max-width: 576px)    {
    /* Pengaturan header */
    .saklar {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 25%;
        height: 30vh;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        background-color: green;
        z-index: 0;
        transform: translateY(-110%);
        transition: all 1s;
    }

    nav ul li   {
        padding: 10px 25%;
        align-self: stretch;
        text-align: center;
    }

    nav ul.slide    {
        transform: translateY(0)
    }


    .gambar-header  {
        width: 50%;
        height: 50%;
    }
    .isi-header {
        flex-direction: column;
        align-content: center;
    }


}