*   {
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

/* Hiasan pada navbar */

nav {
    display: flex;
    background-color: green;
    justify-content: space-around;
    height: 50px;
    color:yellow;
    align-items: center;
}

nav .nama {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 4px;
}
nav ul  {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color:lavenderblush;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover{
    color: yellow;
}

/* Membuat Menu Humberger */
.saklar {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;   
}

.saklar input{
    position: absolute;
    width: 50px;
    height: 28px;
    left: -11px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.saklar span{
    display: block;
    height: 3px;
    width: 28px;
    background-color: honeydew;
    border-radius: 3px;
    transition: 0.5s;
}

/* memberi animasi pada menu Humberger yang telah dibuat */
.saklar span:nth-child(2)  {
  transform-origin: 0 0;
}

.saklar span:nth-child(4)   {
    transform-origin: 0 100%;
}

.saklar input:checked ~ span:nth-child(2)   {
    transform: rotate(45deg) translate(-1px, -1px);
}

.saklar input:checked ~ span:nth-child(3)   {
    opacity: 0;
    transform: scale(0);
}

.saklar input:checked ~ span:nth-child(4)   {
    transform: rotate(-45deg);

/* Tampilan untuk tablet */
@media screen and (max-width: 768px)    {
    nav ul {
        width: 50%;
    }
}

/* Tampilan untuk HP */
@media screen and (max-width: 576px)    {
    .saklar {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: green;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide    {
        transform: translateX(0)
    }
}