*   {
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: ;
    background-color: maroon
}

/* ---------------------------------------------------------------------------------- */
/* Hiasan pada navbar */

nav {
    display: flex;
    background-color: green;
    border-radius: 10px;
    justify-content: space-between;
    height: 50px;
    color:yellow;
    align-items: center;
    margin-top: 0;
    margin: 2px;
    flex: 1;
}

nav .nama {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    flex: 2;
}
nav ul  {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: flex-end;
}

nav ul li   {
    align-self: stretch;
    padding: 15px 10px;
}

nav ul li:hover  {
    background-color: mediumseagreen;
    
}

nav ul li a {
    color:lavenderblush;
    text-decoration: none;
    font-size: 0.8em;
    
    
}


nav ul li a:hover{
    color: yellow;
    text-decoration: underline;
}

/* Membuat Menu Humberger */
.saklar {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;   
    margin-right: 10px;
}

.saklar input{
    position: absolute;
    width: 50px;
    height: 28px;
    left: -11px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.saklar span{
    display: block;
    height: 3px;
    width: 28px;
    background-color: honeydew;
    border-radius: 3px;
    transition: 0.5s;
}

/* memberi animasi pada menu Humberger yang telah dibuat */
.saklar span:nth-child(2)  {
  transform-origin: 0 0;
}

.saklar span:nth-child(4)   {
    transform-origin: 0 100%;
}

.saklar input:checked ~ span:nth-child(2)   {
    transform: rotate(45deg) translate(-1px, -1px);
}

.saklar input:checked ~ span:nth-child(3)   {
    opacity: 0;
    transform: scale(0);
}

.saklar input:checked ~ span:nth-child(4)   {
    transform: rotate(-45deg);
}

/* ==================================================================================== */
/* mengatur gambar header */

.isi-header {
    z-index: -2;
    display: flex;
    align-content: center;
}


/* ==================================================================================== */
/* Mengatur main yang didalamnya ada konten dan aside*/

main    {
    display: flex;
    align-content: center;
    background-color:palegoldenrod;
    margin: 20px 5px;


}

.konten-utama   {
    flex: 5;
    background-color: peru;
    margin: 20px 5px;

}

aside   {
    flex: 1;
    background-color: powderblue;
    margin: 20px 5px;
    flex-direction: column;
    justify-content:space-evenly;
    list-style: none;
}

/* ====================================================================================== */
/* Mengatur isi dari konten utama */


/* ====================================================================================== */
/* Mengatur tampilan aside */
aside div   {
    background-color: red;
    justify-content: space-evenly;
    align-self: center;    
}
aside div p {
    background-color: rgb(13, 148, 13);
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

aside div img   {
    background-color: salmon;
}

aside div table {
    background-color: royalblue;
}
aside tr    {
    text-align: left;
    font-size: 12px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Mengatur agar tampilan responsive */

/* Tampilan untuk tablet */
@media screen and (max-width: 768px)    {
    nav ul {
        width: 50%;
    }
}

/* Tampilan untuk HP */
@media screen and (max-width: 576px)    {
    /* Pengaturan header */
    .saklar {
        display: flex;
    }

    nav {
        z-index: 10;
    }
    nav ul {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 25%;
        height: 30vh;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        background-color: rgb(13, 148, 13);
        z-index: -1;
        transform: translateY(-110%);
        transition: all 1s;
    }

    nav ul li   {
        padding: 10px 25%;
        align-self: stretch;
        text-align: center;
    }

    nav ul.slide    {
        transform: translateY(0)
    }


    .gambar-header  {
        width: 50%;
        height: 50%;
    }
    .isi-header {
        flex-direction: column;
        align-content: center;
    }


}