*   {
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Hiasan pada navbar */

nav {
    display: flex;
    background-color: green;
    justify-content: space-around;
    padding: 20px 0;
}

nav ul  {
    display: flex;
    list-style: none;
}