*   {
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Hiasan pada navbar */

nav {
    display: flex;
    background-color: green;
    justify-content: space-around;
    padding: 10px 0;
    color:yellow;
    align-items: center;
}

.nama {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    letter-spacing: 4px;
}
nav ul  {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color:lavenderblush;
    text-decoration: none;
}

nav ul li a:hover{
    color: yellow;
}

/* Membuat Menu Humberger */
.saklar {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;   
}

.saklar input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
}

.saklar span{
    display: block;
    height: 3px;
    width: 28px;
    background-color: honeydew;
    border-radius: 3px;
}

/* Tampilan untuk tablet */
@media screen and (max-width: 768px)    {
    nav ul {
        width: 50%;
    }
}

/* Tampilan untuk HP */
@media screen and (max-width: 576px)    {
    nav ul {
        display: none;
    }
}